<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angelova.w510.radixapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu_items.OfferActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".menu_items.OrderActivity" />
        <activity android:name=".menu_items.PromotionsActivity" />
        <activity android:name=".menu_items.PricesActivity" />
        <activity android:name=".menu_items.LanguagesActivity" />
        <activity android:name=".menu_items.ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForgotPassActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".list_fragments.AllOffersActivity" />
        <activity android:name=".list_fragments.AllOrdersActivity" />
        <activity android:name=".details_activities.OfferDetailsActivity" />
        <activity android:name=".details_activities.OrderDetailsActivity"></activity>
    </application>

</manifest>